{
  "maximumDoubleTapTime": 0.25,
  "lineHeight" : 1.1,
  "wrapWidthFullMode": 230,
  "wrapWidthCompactMode": 260,
  "lineSpacing": 2,
  "spacings": {
    "messages": 3,
    "lines": 1.8,
    "name": 1
  },

  "radioMessageCropDirective": "?crop=7;7;60;62",
  "notificationSound": "/sfx/instruments/bones/a4.ogg",

  "contextMenuOffset": [-3, 0],
  "spaceBetweenMessages": 4,
  "chatHistoryLimit" : 128,

  "timeOffset": [4, 0],
  "textOffsetFullMode": [35, 0],
  "textOffsetCompactMode": [5, 0],
  "nameOffset": [12, -1],
  "nameWrapWidth": 30,

  "portraitSize" : [22, 22],
  "portraitImageOffset" : [6, 0],

  "defaultPortraitOffset": [-27, -46],
  "defaultPortraitScale": 3,
  
  "iconImageOffset" : [6, 0],
  "modeIndicatorSize": 1,

  "bodyHeight" : 100,
  "expandedBodyHeight" : 289,

  "pageSkipExpanded": 20,
  "pageSkip": 3,

  "fontSize": 9,
  
  "icons": {
    "empty": "/interface/scripted/starcustomchat/base/icons/empty.png",
    "unknown": "/interface/scripted/starcustomchat/base/icons/unknown.png",
    "announcement": "/interface/scripted/starcustomchat/base/icons/announcement.png",
    "frame": "/interface/scripted/starcustomchat/base/icons/frame.png"
  },

  "serverTextSpecific": [
    
  ],

  "selectedModeColor": "#2e691eF8",
  "unselectedModeColor": "white",
  "highlightColor": "#27538437",
  "disabledModeColor": "#191919D0",

  "commandPreviewColor": "white",
  "commandPreviewSelectedColor": "yellow",
  
  "previewCommandFontSize": 8,

  "modeColors": {
    "default": "white",
    "Local" : "darkcyan",
    "Party" : "cornflowerblue",
    "Broadcast" : "blue",
    "Whisper" : "pink",
    "CommandResult" : "lightgray",
    "RadioMessage" : "red",
    "World" : "cyan"
  },
  "textColors" : {
    "default": "white",
    "time": "gray",
    "Local" : "white",
    "Party" : "white",
    "Broadcast" : "white",
    "Whisper" : "white",
    "CommandResult" : "white",
    "RadioMessage" : "white",
    "World" : "white"
  }
}