{
  "general": ["/admin", "/help", "/naked", "/nick", "/played", "/pvp", "/reload", "/serverwhoami", "/suicide", "/whereami", "/who", "/whoami", "/w"],
  "admin": ["/ban", "/clearstagehand", "/disablespawning", "/enablespawning", "/kick", "/list", "/placedungeon", "/resetuniverseflags", "/serverreload", "/setspawnpoint", "/settileprotection", "/setuniverseflag", "/spawnitem", "/spawnliquid", "/spawnmonster", "/spawnnpc", "/spawnstagehand", "/spawntreasure", "/spawnvehicle", "/timewarp", "/unbanip", "/unbanuuiud", "/warp", "/whereis", "/warprandom"],
  "debug": ["/boxes", "/cinema", "/clearboxes", "/clearcinematics", "/clearradiomessages", "/clearscannedobjects", "/completequest", "/debug", "/enabletech", "/entityeval", "/eval", "/failquest", "/fixedcamera", "/fullbright", "/giveessentialitem", "/gravity", "/maketechavailable", "/previewnewquest", "/previewquestcomplete", "/previewquestfailed", "/radiomessage", "/resetachievements", "/resetgravity", "/setgravity", "/startquest", "/statistic", "/togglelayer", "/upgradeship", "/addbiomeregion", "/expandbiomeregion", "/updateplanettype", "/setenvironmentbiome"],
  "starextensions": ["/binds", "/breathing", "/guide", "/voice", "/swap", "/editor", "/identity", "/speech", "/nightvision", "/render"],
  "xsb": ["/xclient", "/xserver", "/identity", "/clear", "/cursor", "/description", "/render", "/mute", "/unmute", "/listmutes", "/voice", "/who", "/world", "/swap", "/swapuuid", "/add", "/adduid", "/remove", "/removeuuid", "/timescale"],
  "xsbadmin": ["/gamemode", "/exec", "/run", "/serverexec", "/serverrun", "/listworlds", "/listworld"],
  "starcustomchat": ["/clearchat"],
  "custom": ["/hotreload"]
}


