{
  "general": [
    { "command": "/admin", "description": "commands.general.admin" },
    { "command": "/help", "description": "commands.general.help" },
    { "command": "/naked", "description": "commands.general.naked" },
    { "command": "/nick", "description": "commands.general.nick" },
    { "command": "/played", "description": "commands.general.played" },
    { "command": "/pvp", "description": "commands.general.pvp" },
    { "command": "/reload", "description": "commands.general.reload" },
    { "command": "/serverwhoami", "description": "commands.general.serverwhoami" },
    { "command": "/suicide", "description": "commands.general.suicide" },
    { "command": "/whereami", "description": "commands.general.whereami" },
    { "command": "/who", "description": "commands.general.who" },
    { "command": "/whoami", "description": "commands.general.whoami" },
    { "command": "/w", "description": "commands.general.w" }
  ],
  "admin": [
    { "command": "/ban", "description": "commands.admin.ban" },
    { "command": "/clearstagehand", "description": "commands.admin.clearstagehand" },
    { "command": "/disablespawning", "description": "commands.admin.disablespawning" },
    { "command": "/enablespawning", "description": "commands.admin.enablespawning" },
    { "command": "/kick", "description": "commands.admin.kick" },
    { "command": "/list", "description": "commands.admin.list" },
    { "command": "/placedungeon", "description": "commands.admin.placedungeon" },
    { "command": "/resetuniverseflags", "description": "commands.admin.resetuniverseflags" },
    { "command": "/serverreload", "description": "commands.admin.serverreload" },
    { "command": "/setspawnpoint", "description": "commands.admin.setspawnpoint" },
    { "command": "/settileprotection", "description": "commands.admin.settileprotection" },
    { "command": "/setuniverseflag", "description": "commands.admin.setuniverseflag" },
    { "command": "/spawnitem", "description": "commands.admin.spawnitem" },
    { "command": "/spawnliquid", "description": "commands.admin.spawnliquid" },
    { "command": "/spawnmonster", "description": "commands.admin.spawnmonster" },
    { "command": "/spawnnpc", "description": "commands.admin.spawnnpc" },
    { "command": "/spawnstagehand", "description": "commands.admin.spawnstagehand" },
    { "command": "/spawntreasure", "description": "commands.admin.spawntreasure" },
    { "command": "/spawnvehicle", "description": "commands.admin.spawnvehicle" },
    { "command": "/timewarp", "description": "commands.admin.timewarp" },
    { "command": "/unbanip", "description": "commands.admin.unbanip" },
    { "command": "/unbanuuid", "description": "commands.admin.unbanuuid" },
    { "command": "/warp", "description": "commands.admin.warp" },
    { "command": "/whereis", "description": "commands.admin.whereis" }
  ],
  "debug": [
    { "command": "/boxes", "description": "commands.debug.boxes" },
    { "command": "/cinema", "description": "commands.debug.cinema" },
    { "command": "/clearboxes", "description": "commands.debug.clearboxes" },
    { "command": "/clearcinematics", "description": "commands.debug.clearcinematics" },
    { "command": "/clearradiomessages", "description": "commands.debug.clearradiomessages" },
    { "command": "/clearscannedobjects", "description": "commands.debug.clearscannedobjects" },
    { "command": "/completequest", "description": "commands.debug.completequest" },
    { "command": "/debug", "description": "commands.debug.debug" },
    { "command": "/enabletech", "description": "commands.debug.enabletech" },
    { "command": "/entityeval", "description": "commands.debug.entityeval" },
    { "command": "/eval", "description": "commands.debug.eval" },
    { "command": "/failquest", "description": "commands.debug.failquest" },
    { "command": "/fixedcamera", "description": "commands.debug.fixedcamera" },
    { "command": "/fullbright", "description": "commands.debug.fullbright" },
    { "command": "/giveessentialitem", "description": "commands.debug.giveessentialitem" },
    { "command": "/gravity", "description": "commands.debug.gravity" },
    { "command": "/maketechavailable", "description": "commands.debug.maketechavailable" },
    { "command": "/previewnewquest", "description": "commands.debug.previewnewquest" },
    { "command": "/previewquestcomplete", "description": "commands.debug.previewquestcomplete" },
    { "command": "/previewquestfailed", "description": "commands.debug.previewquestfailed" },
    { "command": "/radiomessage", "description": "commands.debug.radiomessage" },
    { "command": "/resetachievements", "description": "commands.debug.resetachievements" },
    { "command": "/resetgravity", "description": "commands.debug.resetgravity" },
    { "command": "/setgravity", "description": "commands.debug.setgravity" },
    { "command": "/startquest", "description": "commands.debug.startquest" },
    { "command": "/statistic", "description": "commands.debug.statistic" },
    { "command": "/togglelayer", "description": "commands.debug.togglelayer" },
    { "command": "/upgradeship", "description": "commands.debug.upgradeship" }
  ],
  "starextentions": [
    { "command": "/binds", "description": "commands.starextentions.binds" },
    { "command": "/breathing", "description": "commands.starextentions.breathing" },
    { "command": "/guide", "description": "commands.starextentions.guide" },
    { "command": "/voice", "description": "commands.starextentions.voice" },
    { "command": "/swap", "description": "commands.starextentions.swap" },
    { "command": "/editor", "description": "commands.starextentions.editor", "subcommands": ["open"] },
    {
      "command": "/identity",
      "description": "commands.starextentions.identity",
      "subcommands": [
        {
          "command": "set",
          "description": "commands.starextentions.identity.set",
          "subcommands": [
            "facialHairType", "personalityArmOffset", "facialHairGroup", "hairType", "personalityArmIdle", "bodyDirectives", "gender", "color", "personalityHeadOffset", "hairGroup", "facialMaskDirectives", "species", "personalityIdle", "name", "facialMaskGroup", "facialHairDirectives", "emoteDirectives", "facialMaskType", "hairDirectives"
          ]
        },
        {
          "command": "get",
          "description": "commands.starextentions.identity.get",
          "subcommands": [
            "facialHairType", "personalityArmOffset", "facialHairGroup", "hairType", "personalityArmIdle", "bodyDirectives", "gender", "color", "personalityHeadOffset", "hairGroup", "facialMaskDirectives", "species", "personalityIdle", "name", "facialMaskGroup", "facialHairDirectives", "emoteDirectives", "facialMaskType", "hairDirectives"
          ]
        }
      ]
    },
    { "command": "/speech", "description": "commands.starextentions.speech" },
    { "command": "/nightvision", "description": "commands.starextentions.nightvision" },
    {
      "command": "/render",
      "description": "commands.starextentions.render",
      "subcommands": [
        "head", "body", "hair", "facialhair", "facialmask", "frontarm", "backarm", "emote", "hat",
        {
          "command": "chest",
          "subcommands": ["front", "torso", "back", "old"]
        },
        "legs", "back"
      ]
    }
  ],
  "xstarbound": [
    { "command": "/swapuuid", "description": "commands.xstarbound.swapuuid" },
    { "command": "/add", "description": "commands.xstarbound.add" },
    { "command": "/adduuid", "description": "commands.xstarbound.adduuid" },
    { "command": "/remove", "description": "commands.xstarbound.remove" },
    { "command": "/removeuuid", "description": "commands.xstarbound.removeuuid" }
  ],
  "openstarbound": [
    { "command": "/swap", "description": "commands.openstarbound.swap" },
    {
      "command": "/identity",
      "description": "commands.openstarbound.identity",
      "subcommands": [
        {
          "command": "set",
          "description": "commands.openstarbound.identity.set",
          "subcommands": [
            "facialHairType", "personalityArmOffset", "facialHairGroup", "hairType", "personalityArmIdle", "bodyDirectives", "gender", "color", "personalityHeadOffset", "hairGroup", "facialMaskDirectives", "species", "personalityIdle", "name", "facialMaskGroup", "facialHairDirectives", "emoteDirectives", "facialMaskType", "hairDirectives"
          ]
        },
        {
          "command": "get",
          "description": "commands.openstarbound.identity.get",
          "subcommands": [
            "facialHairType", "personalityArmOffset", "facialHairGroup", "hairType", "personalityArmIdle", "bodyDirectives", "gender", "color", "personalityHeadOffset", "hairGroup", "facialMaskDirectives", "species", "personalityIdle", "name", "facialMaskGroup", "facialHairDirectives", "emoteDirectives", "facialMaskType", "hairDirectives"
          ]
        }
      ]
    },
    {
      "command": "/render",
      "description": "commands.openstarbound.render",
      "subcommands": [
        "head", "body", "hair", "facialhair", "facialmask", "frontarm", "backarm", "emote", "hat",
        {
          "command": "chest",
          "subcommands": ["front", "torso", "back", "old"]
        },
        "legs", "back"
      ]
    }
  ],
  "starcustomchat": [
    { "command": "/clearchat", "description": "commands.starcustomchat.clearchat" }
  ],
  "custom": [
    { "command": "/hotreload", "description": "commands.custom.hotreload" }
  ]
}