{
  "general": ["/admin", "/deaths", "/help", "/naked", "/played", "/pvp", "/reload", "/serverwhoami", "/suicide", "/whereami", "/who", "/whoami", "/w"],
  "admin": ["/ban", "/clearstagehand", "/disablespawning", "/enablespawning", "/kick", "/list", "/placedungeon", "/resetuniverseflags", "/serverreload", "/setspawnpoint", "/settileprotection", "/setuniverseflag", "/spawnitem", "/spawnliquid", "/spawnmonster", "/spawnnpc", "/spawnstagehand", "/spawntreasure", "/spawnvehicle", "/timewarp", "/unbanip", "/unbanuuiud", "/warp", "/whereis"],
  "debug": ["/boxes", "/cinema", "/clearboxes", "/clearcinematics", "/clearradiomessages", "/clearscannedobjects", "/completequest", "/debug", "/enabletech", "/entityeval", "/eval", "/failquest", "/fixedcamera", "/fullbright", "/giveessentialitem", "/gravity", "/maketechavailable", "/previewnewquest", "/previewquestcomplete", "/previewquestfailed", "/radiomessage", "/resetachievements", "/resetgravity", "/setgravity", "/startquest", "/statistic", "/togglelayer", "/upgradeship"],
  "starextentions": ["/binds", "/breathing", "/voice", "/swap", "/editor", "/identity", "/speech", "/nightvision", "/render"],
  "custom": []
}


