name: Generate Archive and Create Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Run Asset Packer
        uses: KrashV/starbound-asset-packer-action@v1
        with:
          output: StarCustomChat.pak

      - name: Get version
        id: extract_version
        run: echo "::set-output name=version::$(jq -r '.version' _metadata)"

      - name: 'Create GitHub Release'
        uses: softprops/action-gh-release@v1
        with:
          body_path: CHANGELOG.txt
          files: StarCustomChat.pak       
          tag_name: v${{ steps.extract_version.outputs.version }}
          name: Release V${{ steps.extract_version.outputs.version }}

      - name: Get changelog content
        id: read_file
        uses: andstor/file-reader-action@v1
        with:
          path: "CHANGELOG.txt"

      - name: Discord Webhook For Delivery
        uses: tsickert/discord-webhook@v6.0.0
        with:
          webhook-url: ${{ secrets.DELIVERY_DISCORD_URL }}
          filename: StarCustomChat.pak  
          content: "StarCustomChat V${{ steps.extract_version.outputs.version }}\n${{ steps.read_file.outputs.contents }}"

      - name: Upload mod to Google Drive
        uses: logickoder/google-drive-upload@main
        with:
          credentials: ${{ secrets.GCP_CREDENTIAL }}
          filename: StarCustomChat.pak
          folderId: ${{ secrets.DRIVE_FOLDER_ID }}
          overwrite: "true"
        